<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload Files</a>

    </div>
    <div class="upload-file-container">
        <form>
            <label>Avatar</label>
            <input type="file" />
        </form>
    </div>
</body>

</html>